[user]
  name = Richard Tynan
  email = richard@tynan.me
[credential]
  helper = cache --timeout=3600
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[merge]
  tool = vimdiff
[core]
  editor = /usr/bin/vim
  excludesFile = ~/.global_gitignore
  hooksPath = ~/.githooks
[push]
  default = current
[pull]
  default = current
  rebase = true
[fetch]
  prune = true
[diff]
  colorMoved = zebra
[hub]
  protocol = ssh
[alias]
  s = status
  st = status
  d = diff
  dif = diff
  co = checkout
  amend = commit --amend
  revall = reset --hard HEAD
  prev = checkout HEAD~
  pul = pull
  p = pull
  smartlog = log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)<%H>%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)<%ae>%Creset%n%C(cyan)%s%n%Creset'
  sl = !git smartlog
  clearmerged = "!git co dev; git branch --merged | grep -v '* dev' | awk '{print $1}' | xargs -p git branch -D"
  f = "!gitf() { git switch -c \"richardtynan/$1\"; }; gitf"
