# Chronological table of program loadings
# Edit with "crontab" for proper functionality, "man 5 crontab" for formatting
# User: ash

# mm (minute), hh (hour) => 0-indexed
# DD (day of month), MM (month) => 1-indexed
# W (day of week) => 0-indexed

# Specials:
# @reboot => at startup
# @yearly => once a year
# @annually => ( == @yearly)
# @monthly => once a month
# @weekly => once a week
# @daily => once a day
# @midnight => ( == @daily)
# @hourly => once an hour

# mm  hh  DD  MM  W /path/progam [--option]...  ( W = weekday: 0-6 [Sun=0] )
@reboot rm -rf /home/ash/Downloads/{.*,*}
